UPGRADES/could_not_upgrade.log
UPGRADES/device_info.log
UPGRADES/file_transfer.log
UPGRADES/netmiko_dl.log
UPGRADES/netmiko.log
UPGRADES/reload920test.log
UPGRADES/upgrade_error.log
GET_CKIDs_errors.log
UPGRADES/logs/could_not_upgrade.log
UPGRADES/logs/device_info.log
UPGRADES/logs/failed_to_restore.log
UPGRADES/logs/file_transfer.log
UPGRADES/logs/netmiko_dl.log
UPGRADES/logs/netmiko.log
UPGRADES/logs/nodes_down.log
UPGRADES/logs/reload920test.log
UPGRADES/logs/upgrade_error.log
UPGRADES/logs/netmiko_ug.log
.env
